In [1]:
import os,re
HostName=os.uname()[1]
print (HostName)

import vresult_data_com as vrc
import vresult_data_reward as vdr
import config as sc
#system_name="Sell300"
system_name="Buy300_2"
process_name="EvalAgent_0"
Lstock, LEvalT, LYM, lgc=vrc.get_addon_setting(system_name,process_name)
i0=vdr.ana_reward(system_name, process_name,Lstock, LEvalT, LYM,lgc)
process_name="EvalAgent_2"
i1=vdr.ana_reward(system_name, process_name,Lstock, LEvalT, LYM,lgc)

homeserver
preparing  EvalAgent_0 Eval Process All 2750
can not find /home/rdchujf/n_workspace/RL/Buy300_2/EvalAgent_0/SH600893/log_a_r_e_T2750.csv
preparing  EvalAgent_2 Eval Process All 2750
can not find /home/rdchujf/n_workspace/RL/Buy300_2/EvalAgent_2/SH600893/log_a_r_e_T2750.csv

[========================================================================] 100%
[========================================================================] 100%

In [2]:
i1.df
#((i1.df["sell_price"]-i1.df["buy_price"])/i1.df["buy_price"]).mean()

,trans_id,trans_start,trans_end,reward,duration,buy_price,sell_price,valid_trans_kpi,buy_count,flag_trans_valid,stock,EvalT
0,SH601012_T1,20200106,20200107,0.0120,2,27.20,27.570,1.0,1,True,SH601012,250
1,SH601012_T10,20200212,20200219,-0.1000,6,34.31,33.174,0.5,1,True,SH601012,250
2,SH601012_T11,20200217,20200218,0.0511,2,32.21,33.910,1.0,1,True,SH601012,250
3,SH601012_T12,20200221,20200224,0.0125,2,33.41,33.880,1.0,1,True,SH601012,250
4,SH601012_T13,20200225,20200303,-0.1000,6,33.47,31.906,0.5,1,True,SH601012,250
...,...,...,...,...,...,...,...,...,...,...,...,...
69256,SZ002146_T245,20200430,20200512,-0.0055,6,8.08,8.050,1.0,1,True,SZ002146,2500
69257,SZ002146_T246,20200511,20200518,-0.1000,6,8.15,7.918,0.5,1,True,SZ002146,2500
69258,SZ002146_T247,20200512,20200519,-0.1000,6,8.05,7.884,0.5,1,True,SZ002146,2500
69259,SZ002146_T248,20200519,20200526,-0.1000,6,7.88,7.672,0.5,1,True,SZ002146,2500
69260,SZ002146_T249,20200521,20200528,0.0163,6,7.73,7.870,1.0,1,True,SZ002146,2500

In [3]:
dft=i1.df[i1.df["valid_trans_kpi"]!=1.0]


((dft["sell_price"]-dft["buy_price"])/dft["buy_price"]).mean()

-0.029267926900502835

In [4]:
i1.df.loc[i1.df["valid_trans_kpi"]!=1,"reward"]=-0.03

In [5]:
import pandas as pd
i1.df[["EvalT","reward"]].groupby(["EvalT"])["reward"].sum()
dfr = i1.df.groupby(["EvalT"]).\
            agg(reward=pd.NamedAgg(column="reward", aggfunc="sum"),
                num_trans=pd.NamedAgg(column="trans_id",aggfunc="count")
                )

In [6]:
dfr

        reward  num_trans
EvalT
250    14.1781       9713
500     5.5649       8968
750     9.1188       7252
1000    0.8418      11640
1250   10.4034       5964
1500    9.7291       6382
1750   12.9070       5217
2000    5.6170       4504
2250    9.1485       5013
2500    7.9540       4608

In [ ]:
import matplotlib.pyplot as plt
plt.plot()

In [1]:
import re
int(re.findall(r'T(\d+)', "/home/rdchujf/n_workspace/RL/Buy300_2C/model/train_model_AIO_1105_1150_T7000.h5")[0])

7000