In [2]:
import os,re
HostName=os.uname()[1]
print (HostName)

import vresult_data_com as vrc
import vresult_data_reward as vdr
import config as sc
#system_name="Sell300"
system_name="Buy300_2"
process_name="EvalAgent_0"
Lstock, LEvalT, LYM, lgc=vrc.get_addon_setting(system_name,process_name)
i0=vdr.ana_reward(system_name, process_name,Lstock, LEvalT, LYM,lgc)
process_name="EvalAgent_2"
i1=vdr.ana_reward(system_name, process_name,Lstock, LEvalT, LYM,lgc)

homeserver
preparing  EvalAgent_0 Eval Process All 5500
can not find /home/rdchujf/n_workspace/RL/Buy300_2/EvalAgent_0/SH600893/log_a_r_e_T5500.csv
preparing  EvalAgent_2 Eval Process All 5500
can not find /home/rdchujf/n_workspace/RL/Buy300_2/EvalAgent_2/SH600893/log_a_r_e_T5500.csv

[========================================================================] 100%
[========================================================================] 100%

In [11]:
i1.df
#((i1.df["sell_price"]-i1.df["buy_price"])/i1.df["buy_price"]).mean()

,trans_id,trans_start,trans_end,reward,duration,buy_price,sell_price,valid_trans_kpi,buy_count,flag_trans_valid,stock,EvalT
0,SH600027_T1,20200103,20200110,-0.1000,6,3.70,3.666,0.5,1,True,SH600027,250
1,SH600027_T10,20200116,20200123,-0.0131,6,3.62,3.580,1.0,1,True,SH600027,250
2,SH600027_T11,20200117,20200203,-0.1000,6,3.60,3.520,0.5,1,True,SH600027,250
3,SH600027_T12,20200120,20200204,-0.1000,6,3.61,3.442,0.5,1,True,SH600027,250
4,SH600027_T13,20200121,20200123,-0.0104,3,3.61,3.580,1.0,1,True,SH600027,250
...,...,...,...,...,...,...,...,...,...,...,...,...
498115,SH603993_T1886,20200515,20200519,0.0179,3,3.49,3.560,1.0,1,True,SH603993,5250
498116,SH603993_T1887,20200518,20200519,0.0007,2,3.55,3.560,1.0,1,True,SH603993,5250
498117,SH603993_T1888,20200519,20200526,-0.1000,6,3.56,3.484,0.5,1,True,SH603993,5250
498118,SH603993_T1889,20200520,20200527,-0.1000,6,3.59,3.446,0.5,1,True,SH603993,5250
498119,SH603993_T1890,20200521,20200528,-0.1000,6,3.54,3.420,0.5,1,True,SH603993,5250

In [13]:
dft=i1.df[i1.df["valid_trans_kpi"]!=1.0]


((dft["sell_price"]-dft["buy_price"])/dft["buy_price"]).mean()

-0.02877329853466156

In [14]:
i1.df.loc[i1.df["valid_trans_kpi"]!=1,"reward"]=-0.03

In [17]:
import pandas as pd
i1.df[["EvalT","reward"]].groupby(["EvalT"])["reward"].sum()
dfr = i1.df.groupby(["EvalT"]).\
            agg(reward=pd.NamedAgg(column="reward", aggfunc="sum"),
                num_trans=pd.NamedAgg(column="trans_id",aggfunc="count")
                )

In [18]:
dfr

        reward  num_trans
EvalT
250    22.1588      23720
500    21.2524      23720
750    21.4628      23720
1000   21.7563      23720
1250   21.2251      23720
1500   23.5611      23720
1750   21.0534      23720
2000   21.0917      23720
2250   20.5355      23720
2500   19.9152      23720
2750   19.4568      23720
3000   23.9099      23720
3250   20.6319      23720
3500   23.0736      23720
3750   20.0842      23720
4000   19.7440      23720
4250   21.2753      23720
4500   20.9513      23720
4750   20.7456      23720
5000   20.8449      23720
5250   19.6317      23720