In [1]:
from Agent_Trader_ana import *

In [ ]:
print (List_Strategies_Config("p1"))

In [58]:
%%bash
more /home/rdchujf/n_workspace/AT/p1/s2/e1/202012/20201229/Report.txt

::::::::::::::
/home/rdchujf/n_workspace/AT/p1/s2/e1/202012/20201229/Report.txt
::::::::::::::
Date: 20201229 Cash After Closing: 264022.4492999995 Market Value: 734024.2212240001
 Num of Stock could bought tomorrow: 5
Today Bought 13 stock:
    SH600507,SZ000830,SZ300618,SH601975,SZ000758,SZ300009,SZ000027,SH600038,SZ002085,SZ000629,SH601000,SZ000718,SH603927
Today Sold with Earn 2 stock:
    SH601598:627.41,SZ300182:283.86
Today Sold with Loss 3 stock:
    SH600704:-591.95,SH603379:-1926.95,SZ000813:-7617.50
Today Sold with Balance 0 stock:

Today 0 Action with Fail :

Today Error holding without sell action 2 :
    SH600006 20201228 start holding with no action
    SH603317 20201202 start holding with no action

Tommorow to Buy 5
    SZ000826,SZ000553,SH600546,SZ300418,SZ000400
Tommorow to Sell 13
    SH600507,SZ000830,SH600006,SZ300618,SH601975,SZ000758,SZ300009,SZ000027,SH600038,SZ002085,SZ000629,SH601000,SZ000718
Tommorow not_buy_due_limit 14
    SZ300296
    SZ000750
    SZ002131
    SH603077
    SZ002051
    SH600765
    SZ002382
    SH601615
    SZ002948
    SZ002233
    SZ000050
    SH601928
    SZ002056
    SZ300058
Tommorow multibuy(not sell due to multibuy) 2
    SH603317
    SH603927

In [57]:
%%bash
ls /home/rdchujf/n_workspace/AT/p1/s2/e1/202012/20201228

AT_account_afterday_backup.csv
AT_AccountDetail_backup.csv
AT_Action2exe.csv
AT_Action2exeDone.csv
AT_StepResult.csv
Report.txt

In [1]:
from Agent_Trader_ana import *
ana_earning("p2","s1","eR1")
pass

KeyError: 'MarketValue_after_closing'

In [36]:
'''
CToBuy (this month)=CEarn+CLoss+CFailBuy+next month first day ToBuy
if This month CToSell!=CTotal should check next month also CToSell!=CTotal (always pair)

'''
df,dfm=get_datas_for_experiment("p1", "s21","eR2")
dfm

,CEarn,CLoss,CBalance,CToBuy,CToSell,CNotToBuy_due_limit,CMultibuy,CFailBuy,CFailSell,CTotal,REarn,RLoss,RBalance
MonthI,,,,,,,,,,,,,
202012,2,0,0,2,2,0,0,0,0,2,1.00,0.00,0.00
202101,1,1,0,2,2,0,0,0,0,2,0.50,0.50,0.00
202102,1,1,0,2,2,0,0,0,0,2,0.50,0.50,0.00
202103,1,0,0,1,1,0,0,0,0,1,1.00,0.00,0.00
202104,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00

In [29]:
get_per_tran_result('p1', 's21', 'eF1')

        dateI     Stock    profit
0    20180125  SH601828 22,078.12
1    20180627  SH603993  2,409.10
2    20180627  SH601066 20,493.35
3    20180702  SZ000066  2,210.86
4    20180702  SZ000725  1,232.17
..        ...       ...       ...
113  20190621  SH601211  2,678.25
114  20190621  SH601881  3,487.94
115  20190621  SH601688  4,218.88
116  20190621  SH601066  6,392.40
117  20190628  SH600968  5,345.07

[118 rows x 3 columns]

In [30]:
results=get_tran_detail('p1', 's21', 'eF1',-1)

[20190305, 20190306, 1, -435.25]