In [58]:
%%bash
more /home/rdchujf/n_workspace/AT/p1/s2/e1/202012/20201229/Report.txt

::::::::::::::
/home/rdchujf/n_workspace/AT/p1/s2/e1/202012/20201229/Report.txt
::::::::::::::
Date: 20201229 Cash After Closing: 264022.4492999995 Market Value: 734024.2212240001
 Num of Stock could bought tomorrow: 5
Today Bought 13 stock:
    SH600507,SZ000830,SZ300618,SH601975,SZ000758,SZ300009,SZ000027,SH600038,SZ002085,SZ000629,SH601000,SZ000718,SH603927
Today Sold with Earn 2 stock:
    SH601598:627.41,SZ300182:283.86
Today Sold with Loss 3 stock:
    SH600704:-591.95,SH603379:-1926.95,SZ000813:-7617.50
Today Sold with Balance 0 stock:

Today 0 Action with Fail :

Today Error holding without sell action 2 :
    SH600006 20201228 start holding with no action
    SH603317 20201202 start holding with no action

Tommorow to Buy 5
    SZ000826,SZ000553,SH600546,SZ300418,SZ000400
Tommorow to Sell 13
    SH600507,SZ000830,SH600006,SZ300618,SH601975,SZ000758,SZ300009,SZ000027,SH600038,SZ002085,SZ000629,SH601000,SZ000718
Tommorow not_buy_due_limit 14
    SZ300296
    SZ000750
    SZ002131
    SH603077
    SZ002051
    SH600765
    SZ002382
    SH601615
    SZ002948
    SZ002233
    SZ000050
    SH601928
    SZ002056
    SZ300058
Tommorow multibuy(not sell due to multibuy) 2
    SH603317
    SH603927

In [57]:
%%bash
ls /home/rdchujf/n_workspace/AT/p1/s2/e1/202012/20201228

AT_account_afterday_backup.csv
AT_AccountDetail_backup.csv
AT_Action2exe.csv
AT_Action2exeDone.csv
AT_StepResult.csv
Report.txt

In [59]:
import pandas as pd
fnwp="/home/rdchujf/n_workspace/AT/p1/s2/e1/202012/20201228/AT_account_afterday_backup.csv"
df=pd.read_csv(fnwp)
df[df["Stock"]=="SZ000813"]

,Stock,TransIDI,Holding_Gu,Holding_Invest,Holding_HRatio,Holding_NPrice,Buy_Times,HoldingStartDateI,AfterClosing_HFQRatio,AfterClosing_NPrice,Tradable_flag,Buy_Invest,Sell_Return,Sell_Earn,Tinpai_huaizhang,Action
208,SZ000813,0,10200,49586.8716,4.0301,0.0,1,20201228,4.0301,4.37004,True,0.0,0.0,0.0,0.0,-1

In [60]:
fnwp="/home/rdchujf/n_workspace/AT/p1/s2/e1/202012/20201228/AT_StepResult.csv"
dfar=pd.read_csv(fnwp)
dfar[dfar["Stock"]=="SZ000813"]

,Stock,Action,Action_Result,Buy_Gu,Buy_NPrice,Buy_Invest,Sell_Gu,Sell_NPrice,Sell_Return
18,SZ000813,Buy,Success,10200,4.86,49586.8716,0,0.0,0.0

In [61]:
fnwp="/home/rdchujf/n_workspace/AT/p1/s2/e1/202012/20201229/AT_StepResult.csv"
dfar=pd.read_csv(fnwp)
dfar[dfar["Stock"]=="SZ000813"]

,Stock,Action,Action_Result,Buy_Gu,Buy_NPrice,Buy_Invest,Sell_Gu,Sell_NPrice,Sell_Return
17,SZ000813,Sell,Success,0,0.0,0.0,5100,4.16,21188.4192
18,SZ000813,Sell,Success,0,0.0,0.0,5100,4.08,20780.9496

In [43]:
21188.4192+20780.9496

41969.3688

In [63]:
from DBR_Reader import RawData,Raw_HFQ_Index
i=RawData()
flag,dfqz28,mess=i.get_qz_df_inteface("SZ000813",20201228)
flag,dfqz29,mess=i.get_qz_df_inteface("SZ000813",20201229)
j=Raw_HFQ_Index("HFQ")
flag,dfj,mess=j.get_lumpsum_df("SZ000813")

In [64]:
dfj["open_price"]=dfj["open_price"]/dfj["coefficient_fq"]
dfj["highest_price"]=dfj["highest_price"]/dfj["coefficient_fq"]
dfj["lowest_price"]=dfj["lowest_price"]/dfj["coefficient_fq"]
dfj["close_price"]=dfj["close_price"]/dfj["coefficient_fq"]
a=dfj[(dfj["date"]>="20201228")&(dfj["date"]<"20201230")]
a

,code,date,open_price,highest_price,lowest_price,close_price,amount_gu,amount_yuan,exchange_ratio_for_tradable_part,exchange_ratio_for_whole,coefficient_fq
4983,SZ000813,20201228,4.870053,4.950051,4.370040,4.370040,54981800,243435712.0,0.024768,0.024529,4.0301
4984,SZ000813,20201229,3.960051,4.370040,3.960051,4.050048,132735736,544458496.0,0.059794,0.059218,4.0301

In [66]:
dfqz29[(dfqz29["Time"]>=93000)&(dfqz29["Time"]<93500)]["Price"].describe()

count    2935.000000
mean        4.129506
std         0.078496
min         3.960000
25%         4.080000
50%         4.100000
75%         4.150000
max         4.370000
Name: Price, dtype: float64

In [65]:
dfqz28[(dfqz28["Time"]>=93000)&(dfqz28["Time"]<93500)]["Price"].describe()

count    1668.000000
mean        4.711055
std         0.098372
min         4.550000
25%         4.610000
50%         4.720000
75%         4.790000
max         4.950000
Name: Price, dtype: float64

In [67]:
import tushare as ts
print (ts.__version__)
ts.set_token('87b769832ea19e30b1f76de81c85a22c9bf5e88b7bf15678c2bb2e07')
pro = ts.pro_api()

dfhfqr = pro.adj_factor(ts_code='000813.SZ', trade_date='')
print(dfhfqr[(dfhfqr["trade_date"]>=str(20201228))&(dfhfqr["trade_date"]<=str(20201230))])

1.2.62
      ts_code trade_date  adj_factor
48  000813.SZ   20201230       3.775
49  000813.SZ   20201229       3.775
50  000813.SZ   20201228       3.775

In [68]:
dfhfq = ts.pro_bar(ts_code='000813.SZ', adj='hfq', start_date='20201228', end_date='20201230')
dfhfq["open"]=dfhfq["open"]/3.775
dfhfq["high"]=dfhfq["high"]/3.775
dfhfq["low"]=dfhfq["low"]/3.775
dfhfq["close"]=dfhfq["close"]/3.775
print (dfhfq)

     ts_code trade_date      open      high       low     close  pre_close  \
0  000813.SZ   20201230  4.000000  4.100000  3.800000  4.030013    15.2887
1  000813.SZ   20201229  3.960000  4.369987  3.960000  4.049987    16.4967
2  000813.SZ   20201228  4.870013  4.950013  4.369987  4.369987    18.3465

   change  pct_chg         vol      amount
0 -0.0754  -0.4932   856780.94  336559.529
1 -1.2080  -7.3227  1327357.36  544458.503
2 -1.8498 -10.0826   549818.00  243435.719