In [92]:
import os, pickle, re
import pandas as pd
def get_per_trans_result(portfolio, strategy, experiment):
    dnwp=os.path.join("/mnt/data_disk2/n_workspace/AT",portfolio, strategy, experiment)
    monthSs=[item for item in os.listdir(dnwp) if os.path.isdir(os.path.join(dnwp,item))]
    monthSs.sort()
    trans=[]
    for monthS in monthSs:
        wdnwp=os.path.join(dnwp,monthS)
        DateSs=[item for item in os.listdir(wdnwp) if os.path.isdir(os.path.join(wdnwp,item))]
        DateSs.sort()
        for DateS in DateSs:
            pfnwp=os.path.join(wdnwp,DateS,"Report.pikle")
            datas=pickle.load(open(pfnwp,"rb"))
            Cash_afterclosing,MarketValue_afterclosing,mumber_of_stock_could_buy,\
                  l_log_bought, l_log_Earnsold, l_log_balancesold, l_log_Losssold,\
                  l_log_fail_action, l_log_holding_with_no_action,\
                  l_ADlog,l_a=datas
            if len(l_log_Earnsold)!=0:
                for logs in [l_log_Earnsold,l_log_Losssold]:
                    for log in logs:
                        a=re.findall(r'(\w+):([-+]?[0-9]+[.][0-9]*)',log)
                        if len(a)!=0:
                            trans.append([int(DateS),a[0][0], eval(a[0][1])])

    df=pd.DataFrame(trans,columns=["dateI", "Stock","profit"])
    return df
df=get_trans_result('p1', 's19', 'eF1')

In [3]:
from Agent_Trader_ana import *
get_per_tran_result('p1', 's19', 'eF1')

        dateI     Stock    profit
0    20180104  SZ002505    389.62
1    20180108  SZ002505     94.71
2    20180109  SH600903   2496.11
3    20180110  SH600516    487.46
4    20180117  SZ000718   1927.29
..        ...       ...       ...
375  20190621  SZ002191   2690.99
376  20190621  SZ002273   1165.85
377  20190624  SH600126     83.42
378  20190628  SH603317  54949.87
379  20190628  SH601200  -2150.51

[380 rows x 3 columns]

In [71]:
df[df["profit"]>5000]

        dateI     Stock     profit
6    20180117  SZ002382   18634.65
18   20180319  SH603712  134460.42
36   20180330  SH603712   19553.02
154  20181119  SH600053    5241.77
173  20190116  SH601860    7502.61
177  20190213  SH601615   22828.62
182  20190219  SZ000563    6895.22
206  20190226  SZ000686   10591.99
208  20190226  SZ300115    5357.53
213  20190227  SZ000563   24019.91
230  20190306  SZ000563    5674.26
240  20190306  SZ300017    5365.61
242  20190307  SH600909    6423.61
243  20190307  SH601860    7772.84
261  20190312  SZ000739    5459.89
266  20190312  SZ000400    6946.53
298  20190401  SZ000537    5499.58
378  20190628  SH603317   54949.87

In [1]:

results=get_tran_detail('p1', 's19', 'eF1',10000)

[20180108, 20180117, 7, 18634.65]
[20180227, 20180319, 14, 134460.42]
[20180323, 20180330, 5, 19553.02]
[20190124, 20190213, 9, 22828.62]
[20190222, 20190226, 2, 10591.99]
[20190222, 20190227, 3, 24019.91]
[20190417, 20190628, 48, 54949.87]

In [89]:
buy_dateI=df.loc[stock]["HoldingStartDateI"]
print (buy_dateI, dateI,len(nptd[(nptd>=buy_dateI)&(nptd<dateI)]))

20180108 20180117 7

In [52]:
import re
'''
ss=['SH600673:1878.13', 'SH603712:1829.61']
for s in ss:
    
'''
#re.findall(r'{\w+}:{[0-9]+([.][0-9]*)}','SH600673:1878.13')
a=re.findall(r'(\w+):([0-9]+[.][0-9]*)','SH600673:1878.13')
print (a[0][0],a[0][1])
print (type(a[0][0]), type(a[0][1]))
eval(a[0][1])

SH600673 1878.13
<class 'str'> <class 'str'>

1878.13

In [36]:
import random
from itertools import accumulate
def Filter_ll_a(mumber_of_stock_could_buy, ll_a ):
    InOnes=[]
    for l_a in ll_a:
        InOnes=InOnes+l_a
    pidxs=[idx  for idx,item in enumerate( InOnes) if item==0]
    total_Cbuy=len(pidxs)

    if mumber_of_stock_could_buy>=total_Cbuy:
        return ll_a
    else:
        Num_remove_from_buy = total_Cbuy - mumber_of_stock_could_buy
        random.shuffle(pidxs)
        for selected_pidx in pidxs[:Num_remove_from_buy]:        
            assert InOnes[selected_pidx]==0
            InOnes[selected_pidx]=1
        print (InOnes)
        adj_ll_a=[]
        pstartidx=0
        for l_a in ll_a:
            print (pstartidx)
            adj_ll_a.append(InOnes[pstartidx:pstartidx+len(l_a)])
            pstartidx+=len(l_a)
        return adj_ll_a    
        
    
ll_a=[[0,0,3,3,3],[3,3,3,0,0,0,3,3,3],[0,3,0]]
mumber_of_stock_could_buy=10
ll_b=Filter_ll_a(2,ll_a)
print (ll_b)

[1, 0, 3, 3, 3, 3, 3, 3, 1, 1, 1, 3, 3, 3, 1, 3, 0]
0
5
14
[[1, 0, 3, 3, 3], [3, 3, 3, 1, 1, 1, 3, 3, 3], [1, 3, 0]]

In [3]:
import pickle
fnwp="/mnt/data_disk2/n_workspace/AT/p2/s1/eR7/202012/20201228/Report.pikle"

a=pickle.load(open(fnwp,"rb"))

In [4]:
a

[1003208.64,
 [0.0, 0.0],
 5,
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[20201228, '', '', '', ''], [20201228, '', '', '', '']],
 [[1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1],
  [1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1]],
 [[1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1],
  [1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1]]]