In [2]:
import tushare as ts
print (ts.__version__)
ts.set_token('87b769832ea19e30b1f76de81c85a22c9bf5e88b7bf15678c2bb2e07')
pro = ts.pro_api()

1.2.62

In [4]:
df=pro.stock_basic()

In [3]:
df = pro.daily(ts_code='603712.SH', start_date='20180301', end_date='20180331')

In [4]:
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,603712.SH,20180330,36.87,39.83,36.21,39.83,36.21,3.62,10.00,537149.30,2055716.366
1,603712.SH,20180329,34.03,36.21,31.49,36.21,32.92,3.29,9.99,568422.07,1917644.407
2,603712.SH,20180328,38.08,38.89,32.00,32.92,35.35,-2.43,-6.87,532715.34,1899336.030
3,603712.SH,20180327,34.00,35.35,33.82,35.35,32.14,3.21,9.99,216957.38,756589.013
4,603712.SH,20180326,29.51,32.14,29.51,32.14,29.22,2.92,9.99,550039.65,1729076.624
5,603712.SH,20180323,25.14,30.72,25.14,29.22,27.93,1.29,4.62,604442.90,1667094.716
6,603712.SH,20180322,27.50,29.97,27.00,27.93,29.04,-1.11,-3.82,565949.06,1598529.711
7,603712.SH,20180321,26.11,29.04,26.11,29.04,26.40,2.64,10.00,720935.53,2055586.881
8,603712.SH,20180320,26.00,27.15,25.03,26.40,27.39,-0.99,-3.61,508238.06,1331121.232
9,603712.SH,20180319,24.88,27.39,24.01,27.39,24.90,2.49,10.00,658804.73,1722963.144
10,603712.SH,20180316,24.90,24.90,24.28,24.90,22.64,2.26,9.98,425523.80,1058532.081
11,603712.SH,20180315,22.64,22.64,22.64,22.64,20.58,2.06,10.01,47487.49,107511.677
12,603712.SH,20180314,20.58,20.58,20.58,20.58,18.71,1.87,9.99,36849.46,75836.189
13,603712.SH,20180313,18.71,18.71,18.71,18.71,17.01,1.70,9.99,21914.65,41002.310
14,603712.SH,20180312,17.01,17.01,17.01,17.01,15.46,1.55,10.03,5338.68,9081.095
15,603712.SH,20180309,15.46,15.46,15.46,15.46,14.05,1.41,10.04,8191.04,12663.348
16,603712.SH,20180308,14.05,14.05,14.05,14.05,12.77,1.28,10.02,2890.91,4061.729
17,603712.SH,20180307,12.77,12.77,12.77,12.77,11.61,1.16,9.99,2062.75,2634.132
18,603712.SH,20180306,11.61,11.61,11.61,11.61,10.55,1.06,10.05,1709.82,1985.101
19,603712.SH,20180305,10.55,10.55,10.55,10.55,9.59,0.96,10.01,3102.79,3273.443
20,603712.SH,20180302,9.59,9.59,9.59,9.59,8.72,0.87,9.98,3754.84,3600.892
21,603712.SH,20180301,8.72,8.72,8.72,8.72,7.93,0.79,9.96,882.61,769.636