In [5]:
from Eval_WR_ana import *
#system_name="again_try_resid_lr001_scal20_300_DBTP_1M1D_RWR"
#system_name="again_try_resid_lr001_scal20_300_DBTP_1M1D_RW01"
#system_name="again_try_resid_lr001_scal20_300_DBTP_1M1D_RWR_Step1"
system_name="again_try_resid_lr001_scal20_300_DBTP_1M1D_RWR_Step1_notdropunbuyrecord"
process_names=["EvalAgent_0","EvalAgent_1"]



process_names=["EvalAgent_2"]

dnwp1=os.path.join("/mnt/data_disk2/n_workspace/RL/",system_name,"Classifiaction","WR",process_names[0])
ETs=[int(fn[2:-4]) for fn in os.listdir(dnwp1)]
ETs.sort()
print ("ET","RBW","RBR","RBRZ","RB/A","CBuy", "ET","P25P","P50P","P75P","TotalP" )
for ET in ETs:
    dfWR=ET_WR_detial(system_name, ET,process_names)
    dfPA=ET_PA_detial(system_name, ET,process_names)
    print ("")

ET RBW RBR RBRZ RB/A CBuy ET P25P P50P P75P TotalP
250 0.52 0.44 0.48 0.18 1287 250 -0.01 0.00 0.01 -4.09
500 0.51 0.45 0.49 0.17 1226 500 -0.01 -0.00 0.01 -3.21
750 0.54 0.42 0.46 0.18 1268 750 -0.02 -0.00 0.01 -5.30

In [40]:
dfWR

        DateI  BW  BZ  BR  NW  NZ  NR  NA  buy  all
0    20180102   0   0   0  25   0  28  12    0   65
1    20180103   0   0   0  15   1  37  12    0   65
2    20180104  15   0  20   7   0  11  12   35   65
3    20180105   0   0   0  22   1  30  12    0   65
4    20180108   8   0   6  19   2  18  12   14   65
..        ...  ..  ..  ..  ..  ..  ..  ..  ...  ...
700  20201123   4   0   8  24   3  26   0   12   65
701  20201124   5   0  13   7   0  40   0   18   65
702  20201125   3   0   9  25   2  26   0   12   65
703  20201126   9   0   1  50   0   5   0   10   65
704  20190701  15   1  16  15   0  18   0   32   65

[705 rows x 10 columns]

In [1]:
from Eval_WR_ana import *
dfbr1,dfb1,dft1=get_summery_per_month_df("/home/rdchujf/n_workspace/RL/again_try_resid_lr001_scal20_500_RWR/Classifiaction/WR/",["EvalAgent_4","EvalAgent_5"])
dfbr2,dfb2,dft2=get_summery_per_month_df("/home/rdchujf/n_workspace/RL/again_try_resid_lr001_scal20_500_RWR_eval/Classifiaction/WR/",["EvalAgent_6"])

In [2]:
dfbr1

,ET,201801,201802,201803,201804,201805,201806,201807,201808,201809,...,202002,202003,202004,202005,202006,202007,202008,202009,202010,202011
0,250.0,0.432432,0.491837,0.500719,0.440351,0.445983,0.416794,0.486019,0.435504,0.462500,...,0.566248,0.409880,0.451791,0.463533,0.505764,0.514398,0.494521,0.355954,0.473322,0.517241
1,500.0,0.424332,0.467347,0.514032,0.468007,0.439130,0.396341,0.470668,0.429698,0.449612,...,0.564327,0.416107,0.457627,0.436333,0.502242,0.506614,0.507003,0.348624,0.490435,0.500000
2,750.0,0.453623,0.464844,0.518090,0.487002,0.449488,0.401734,0.495119,0.438462,0.453125,...,0.538028,0.421121,0.497896,0.470305,0.500734,0.546061,0.531680,0.373698,0.518116,0.500000
3,1000.0,0.493066,0.477842,0.497623,0.479789,0.480712,0.392958,0.481105,0.445455,0.478939,...,0.519941,0.431551,0.511046,0.479201,0.540832,0.552448,0.545586,0.394636,0.523979,0.538462
4,1250.0,0.442478,0.498162,0.479638,0.461794,0.456268,0.409091,0.481132,0.464646,0.479042,...,0.564470,0.459799,0.506207,0.455272,0.531387,0.566313,0.502786,0.400731,0.489796,0.497525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,35500.0,0.520000,0.610619,0.622568,0.676951,0.549858,0.592535,0.668022,0.653439,0.585827,...,0.708549,0.764982,0.744488,0.524430,0.593794,0.685163,0.624011,0.536755,0.629696,0.612195
142,35750.0,0.510460,0.581140,0.613065,0.667851,0.578019,0.578947,0.630749,0.650200,0.596519,...,0.717391,0.749709,0.718830,0.554160,0.580195,0.671894,0.623529,0.520718,0.614853,0.612195
143,36000.0,0.516129,0.601810,0.619647,0.690346,0.533241,0.587025,0.654856,0.675749,0.615987,...,0.705128,0.748227,0.756757,0.528239,0.599444,0.670290,0.640464,0.541667,0.654514,0.619048
144,36250.0,0.523948,0.593952,0.641509,0.686486,0.559110,0.589783,0.642667,0.667116,0.584906,...,0.711514,0.750000,0.753512,0.525876,0.602510,0.677146,0.636959,0.530899,0.590361,0.626238
145,36500.0,0.507824,0.584444,0.635779,0.662478,0.571827,0.579755,0.641534,0.670683,0.613057,...,0.711864,0.775000,0.750322,0.533871,0.564426,0.672749,0.625326,0.560333,0.601375,0.630542